@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none !important;
}

.nx-text-sm {
  font-size: 0.8rem !important;
}

@media (min-width: 768px) {
  .md\:nx-w-64 {
    width: 20rem !important;
  }
}

.nx-py-1\.5 {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

kbd {
  background-color: #8881;
  padding: 0px 0.3rem 1px;
  border-radius: 0.3rem;
  border: 1px solid #bbb;
  border-bottom-width: 2px;
  font-size: 0.9rem !important;
  font-family: inherit !important;
}

// List styles

li > ul {
  margin-top: 0 !important;
}

ul.nx-mt-6 {
  margin-top: 0rem;
}

.dl > ul > li {
  font-weight: bold;
  list-style-type: none !important;
  margin-left: 0 !important;
}

.dl > ul > li > ul > li {
  font-weight: normal;
  list-style-type: none !important;
}
:is([dir="ltr"] .ltr\:nx-ml-6) {
  margin-left: 1.2rem !important;
}

// Inline Image
html img {
  display: inline !important;
}
