@tailwind base;
@tailwind components;
@tailwind utilities;

li > ul {
  margin-top: 0 !important;
}

a {
  text-decoration: none !important;
}

.nx-text-sm {
  font-size: 0.8rem !important;
}

@media (min-width: 768px) {
  .md\:nx-w-64 {
    width: 20rem !important;
  }
}

.nx-py-1\.5 {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.nx-list-disc {
  list-style-type: none !important;
}
