.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px 20px;
div {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1em 1em;
}
}

